@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap");

:root {
    --global-font: "Castoro Titling", serif;
    --gold: rgb(147, 117, 71);
}

body {
    margin: 0;
    overflow: hidden;
    font-family: var(--global-font), -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
