.player-online-tile-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    margin-bottom: 3px;
}

.player-online-tile-body {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    overflow-x: hidden;
}

.player-online-tile-username {
    justify-self: left;
    align-self: center;
    margin-left: 10px;
    font-size: 14px;
}

.player-online-tile-button {
    justify-self: center;
}

.player-online-tile-button button {
    font-size: 26px;
    margin: 0 0;
    padding: 0 0;
    border: none;
    background-color: transparent;
    color: var(--gold);
    margin-bottom: 2px;
}

.player-online-tile-button button:hover {
    color: white;
    cursor: pointer;
}
