.lobby-player-tile-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    margin-bottom: 3px;
}

.lobby-player-tile-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.lobby-player-tile-body p {
    text-align: center;
}

.ready {
    color: green;
    font-weight: bold;
}

.not-ready {
    color: red;
    font-weight: bold;
}

.lobby-player-tile-body:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(1.02); /* Adjust the scale factor as needed */
    transition: transform 0.1s linear;
    cursor: pointer;
}
