.board-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    min-width: 29.5vw;
    overflow-x: auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 5px;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.board-container-current-player {
    display: flex;
    flex-direction: column;
    min-width: 36vw;
    overflow-x: auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 5px;
    border: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 10px;
    position: relative;
    overflow-y: hidden;
    z-index: 1;
}

.board-controls {
    margin-bottom: 2.5px;
}

.board-play-card {
    width: 90%;
    height: 25px;
}

.board-discard-card {
    width: 10%;
    height: 25px;
}

.board-wonders-width-4 {
    gap: 25px;
}

.board-build-wonders {
    display: flex;
    width: 95%;
    justify-content: space-evenly; /* Center items horizontally */
    justify-self: center;
    align-self: center;
    margin-top: 10px;   
}

.board-build-wonder-green {
    width: 20%;
    height: 25px;
    background-color: green;
}

.board-build-wonder-green:hover {
    cursor: pointer;
    background-color: lightgreen;
}

.board-build-wonder-red {
    width: 20%;
    height: 25px;
    background-color: red;
}

.board-build-wonder-red:hover {
    cursor: pointer;
    background-color: lightcoral;
}

.board-player-id {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 2.5px;
    text-align: right;
}

.board-built-cards-container {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto; /* Add horizontal scroll bar */
    justify-content: center;
    margin-top: 2.5px;
}

.board-header-container {
    display: inline-flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between;
    margin-right: 25px;
}

.board-built-wonder {
    position: absolute;
    bottom: 0;
    left: 39px;
    z-index: 0;
    width: 100%;
}

.board-build-wonder-card {
    width: 20%;
    max-height: 25px;
    transform: translateY(
        -3vw
    ); /* Move the image up by 50% of its own height */
    z-index: -1;
}
