.built-wonder-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Add any additional styles you need */
    width: 100%;
}

.built-wonder-container img {
    width: 100%;
    height: auto;
}
