.overlay-content {
    position: relative;
    width: 100%;
    z-index: 3;
    font-weight: bold;
    transform: scale(1.1);
    box-shadow: 0 0 10px black; /* Black box shadow */
}

.choose-card-arrow {
    margin: 0;
    font-size: 2.5em;
}

.choose-card-cost {
    font-size: 20px;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    height: 20px;
    margin-bottom: 2.5px;
}

.choose-card-cost img {
    width: 20px;
    height: auto;
    margin-bottom: 5px;
}

.choose-card-arrow-left,
.choose-card-arrow-right,
.choose-card-arrow-bottom {
    position: absolute;
    z-index: 3;
    cursor: default;
    display: flex;
    align-items: center;
    height: 20px;
}

.green-arrow:hover {
    cursor: pointer;
    color: var(--gold);
}

.choose-card-arrow-left {
    bottom: -11%;
    left: -10%;
    color: red;
}

.left-arrow {
    transform: rotateY(180deg);
}
.choose-card-arrow-right {
    bottom: -11%;
    right: -10%;
    color: red;
}

.choose-card-arrow-bottom {
    bottom: -13%;
    left: 50%;
    transform: translateX(-50%) rotate(90deg); /* Combined transformation */
    color: red;
}

.choose-card-arrow-bottom .choose-card-cost {
    transform: rotate(-90deg);
}

.choose-card-wonder-upgrade {
    position: absolute;
    top: -20%;
    left: 0;
    width: 30%;
}

.choose-card-wonder-upgrade:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.choose-card-wonder-upgrade img {
    width: 100%;
    height: auto;
}

.choose-card-discard {
    position: absolute;
    top: -18%;
    right: 35%;
    width: 30%;
    color: white;
}

.choose-card-discard:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.choose-card-discard img {
    position: absolute;
    width: 100%;
    height: auto;
}

.green-arrow {
    color: green;
}

.red-arrow {
    color: red;
}