.points-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    width: 100%;
}

.points-container img {
    width: 100%;
    height: auto;
    margin-bottom: 2px;
    max-width: 20px;
    min-width: 20px;
    padding: 0px;
}

.points-item p {
    font-size: 100%;
    font-weight: bold;
    margin: 0px;
    text-align: center;
}

.points-item.red p {
    color: maroon;
}

.points-item.gold p {
    color: goldenrod;
}

.points-item.blue p {
    color: blue;
}

.points-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.points-item.red {
    border: 2px solid maroon;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2px 5px;
}

.points-item.gold {
    border: 2px solid goldenrod;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.points-item.blue {
    border: 2px solid blue;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}
