.browser-list {
    min-width: 100%;
}

.browser-list-body {
    width: 100%;
}

.browser-list-headers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.browser-list-headers p {
    padding: 0 0;
    margin: 0 0;
    text-align: center;
    border-bottom: 2px solid var(--gold);
}

.browser-list-items {
    overflow-y: scroll; /* Changed to auto */
    overflow-x: hidden;
    max-height: 55vh;
    width: 100%; /* Ensure the width fills the container */
}
