.lobby-tile-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    margin-bottom: 3px;
}

.lobby-tile-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.lobby-tile-body p {
    color: white;
    text-align: center;
}

.join-game-button {
    background-color: rgb(147, 117, 71, 0.5);
    border: none;
    color: antiquewhite;
    padding: 5px 15px;
    text-align: center;
    font-family: var(--global-font);
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

.join-game-button:hover {
    background-color: rgb(147, 117, 71, 0.7);
    transform: scale(1.05);
    transition: transform 0.1s linear;
}
