.players-online-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 15px;
    border: 1px solid var(--gold);
    min-width: 200px;
    min-height: 50px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.players-online-body {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.players-online-header {
    font-size: 1em;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.players-online-header button {
    font-size: 21px;
    margin: 0 0;
    padding: 0 0;
    border: none;
    background-color: transparent;
    color: var(--gold);
    margin-bottom: 2px;
}

.players-online-header button:hover {
    color: white;
    cursor: pointer;
}
