.player-online-tile-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    margin-bottom: 3px;
}

.player-online-tile-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 10px;
    overflow-x: hidden;
}

