.profile-container {
    background-color: black;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid var(--gold);
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profile-header {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--gold);
    border-bottom: 1px solid var(--gold);
}

.profile-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profile-info {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.profile-info p {
    margin: 5px 0px;
    padding: 0px;
    font-size: 14px;
}
